---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Artist, creator, and explorer of visual storytelling."
  pubDate={new Date('October 26 2025')}
  heroImage="/mduq-prof.jpg"
>
  <p>
    Michelle Duquette is a poet and educator based in Seoul, South Korea. She earned her Master’s in Education from the University of Ottawa and completed her undergraduate studies in English Literature at Carleton University, where she worked with In/Words Magazine. A recipient of the Lilian I. Found Award for poetry, her work explores intimacy, technology, and the body through a confessional lens. She is the author of Love & Paper Cuts (2013), Void (2014), and The Etymology of Being (2025), and continues to write toward the intersections of selfhood, language, and memory.
  </p>
</Layout>
